body {
	background: url('../img/taxis_1500x500_desat.jpg') no-repeat;
	background-size: cover;
}

.btn {
	background-color: $softblack;
	color: $white;

	&:active,
	&:focus,
	&:hover {
		color: $white;
	}

	&:hover {
		background-color: $attckyellow;
	}
}

.hide {
    display: none;
}

// This overrides Bootstrap's blue glow on focus. Need to use !important tags here to override native Bootstrap styles.

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.lunchpicker-container {
	margin-top: 100px;

	.wtf-wrapper {
		color: $black;
		text-align: center;

		.attck-logo {
			margin: 10px 0;
		}
	}

	.restaurant-info-wrapper {
		text-align: center;
		margin-top: 40px;

		.order-link {
			cursor: pointer;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 30px;
		}

		.restaurant-name {
			display: inline-block;
			border-bottom: 2px solid black;
			padding-bottom: 4px;
		}
	}
}